body {
  background-color: white;
}

h1 {
  margin-left: 20px;
  letter-spacing: -1-62px;
  text-shadow: 0px 2px 1px #151c1f;
  background: linear-gradient(to top, lightgray, grey);
  font-family: 'Bebas Neue', cursive;
  font-size: 40.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-family: Myriad Pro;
}

.hello {
  width: 140px;
  height: 56px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
  font-family: Bebas;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: -3px;
  text-align: left;
  color: #eef0f0;
}

button {
  font-family: 'Arial';

}

#twBtn {
  width: 194px;

  height: 58px;

  border: solid 1px #cdcdcd;

  background-image: grey
}

hr {
  background: linear-gradient(to top, lightgray, grey);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

#separator1 {
  background: rgb(39, 188, 207);
  width: 75%;
  margin-top: -15px;
  margin-left: 50px;
}

#separator2 {
  background: linear-gradient(to top, lightgray, grey);
  width: 60%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.icons {
  width: 45px;
  height: 46px;
}

.cars {
  width: 250px;
  height: 129px;
  border: solid 3px #cbcbcb;
}

.midButtons {
  border: #eef0f0;
  border-radius: 20px;
  background-image: linear-gradient(to top, #efefef, #ffffff);
}

.youAreHere {
  width: 300px;
  height: 29px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
  font-family: Myriad Pro;
  font-size: 38.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #eef0f0;
}

.helpU {
  width: 307px;
  height: 80px;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #1eafb5;
}

.welcome {
  margin-left: 20px;
}

#content {
  width: 100%;
  height: 310px;
  background-image: linear-gradient(to top, #0f201c, #002931);
}

#navBar {
  color: #002931;
  margin-top: 5px;
}

.footerElements {
  background-color: #002931;
  margin-top: 5px;
  display: flex;
}

.navContent {
  background-color: #002931;
  display: flex;
  margin-top: 5px;
}

.navContent>a:hover {
  width: 67px;
  height: 40px;
  background-image: linear-gradient(to top, rgba(6, 102, 133, 0.5), #19c2c8);
  color: #eef0f0;
}

.card {
  margin-top: 20px;
}

.navbar {
  width: 100%;
}

#twLogo {
  width: 74px;
  height: 81px;
}

.card {
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-all {
  width: 195px;
  margin: auto;
  margin-top: 10px;
  perspective: 1000px;
  position: relative;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px black;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 20px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(36deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(72deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(144deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(216deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(252deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(288deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(324deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
  width: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.5);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}